<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="node_modules/element-ui/lib/theme-chalk/index.css">
    <style>
        .fonts{
            font-size: 18px;
        }
    </style>
</head>
<body>
<div id="app">

    <el-radio-group v-model="labelPosition" size="small">
        <el-radio-button label="left">左对齐</el-radio-button>
        <el-radio-button label="right">右对齐</el-radio-button>
        <el-radio-button label="top">顶部对齐</el-radio-button>
    </el-radio-group>
    <div style="margin-left: 45%">
        <span id="fonts">
           <b>发布订单</b>
        </span>
    </div>
    <div style="margin-left: 40%;" >
        <el-form :label-position="labelPosition" label-width="80px" >
            <el-form-item label="订单名称" prop="oname" >
                <el-col :span="4" >
                    <el-input v-model.trim="orders.oname"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="订单详情" prop="odescribe">
                <el-col :span="4">
                    <el-input v-model="orders.odescribe"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="订单价格" prop="price">
                <el-col :span="4">
                    <el-input v-model="orders.price"></el-input>
                </el-col>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="save">发布订单</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
</body>
<script src="dist/vue.js"></script>
<!-- import JavaScript -->
<script src="node_modules/axios/dist/axios.js"></script>

<script src="node_modules/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {

            return {
                labelPosition: 'right',
                orders:{
                        uid:"0"
                }


            };
        },
        methods:{
            save(){
                var _this = this
                var id = location.search.substring(4);
                this.orders.uid=id

                axios.post("http://api.gorunrun.com/api/order/order/insertOrder",this.orders).then(function({data}=res){


                    location.href="user-home.html";
                })
            }


        },

        /* created(){
             console.log(location.search);


              axios.get("http://localhost:1002/api/user/receiver/rid/1").then(function (res) {

                this.re = res.data;
                 debugger;

             })

         }*/


    })
</script>
</html>